* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}


.banner-content {
	background: url('../images/banner.png'), linear-gradient(rgba(0, 0, 0, 1), rgba(31, 69, 110, .9), rgba(0, 0, 0, 1));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-weight: lighter;
	color: white;
	border-bottom: 1px solid #33A8DB;
}

.banner-content .logo {
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

.banner-content h1 { 
	background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.banner-content p {
	margin: 1.5rem auto;
	width: 45%;
	font-size: 1.2rem;
}

.banner-content button {
	background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: transparent;
	font-family: 'Raleway', sans-serif;
	padding: 1rem 2rem;
	font-weight: bold;
	letter-spacing: .15rem;
	text-transform: uppercase;
	font-size: .7rem;
	border: 1px solid #33A8DB;
	transition: box-shadow .5s, transform .5s;
	cursor: pointer;
	margin-bottom: 3rem;
}

.banner-content button:hover {
	box-shadow: 3px 4px 12px black;
	transform: scale(1.05);
}

#course-content {
	background: black;
	padding-top: 6rem;
	padding-bottom: 4.5rem;
	color: white;
	text-align: center;
	font-weight: lighter;
	border-bottom: 1px solid #33A8DB;
}

#course-content h2 {
	color: #33A8DB;
	font-size: 1.9rem;
	letter-spacing: .3rem;
	text-transform: uppercase;
	margin-bottom: 1.5rem
}

#course-content p {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}

.module {
	width: 50%;
	border-radius: 3rem;
	padding: 1rem;
	border: 1px solid #33A8DB;
	background: linear-gradient(0deg, #252525, #252525), linear-gradient(0deg, #33A8DB, #33A8DB);
	margin: 1.7rem auto;
}

.module span {
	color: #33A8DB;
}

#transform-world {
	background: url('../images/woman-code.png');
	height: 330px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: contrast(2.8);
	color: white;
	border-bottom: 1px solid #33A8DB;
}

#transform-world p {
	font-size: 2.2rem;
	font-weight: 900;
	text-transform: lowercase;
	text-shadow: 2px 2px 0px #33A8DB;
	transform: translateY(50%);
	height: 200px;
	width: 250px;
	margin-left: 5rem;
	filter: none;
}

#professional-challenges {
	background: #000;
	text-align: center;
	color: white;
	padding: 4.5rem 0;
	border-bottom: 1px solid #33A8DB;
}

#professional-challenges h2 {
	font-size: 1.9rem;
	letter-spacing: .3rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #33A8DB;
	margin: 1.5rem auto;
	width: 60%;
}

#professional-challenges img {
	max-width: 100%;
}

#professional-challenges p {
	width: 50%;
	margin: 2rem auto;
}

footer {
	border-top: 1px solid #33A8DB;
	background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(31, 69, 110, 1) 100%);
	padding-top: 4rem;
	padding-bottom: 2.5rem;
	text-align: center;
	color: white;
}

footer p {
	margin-top: .5rem;
}

footer p a {
	text-decoration: none;
	color: #33A8DB;
	font-weight: 700;
}